* {
	color: white;
	padding: 0;
	margin: 0;
}
body {
	background-image: url(https://c2.peakpx.com/wallpaper/241/109/265/5k-autumn-foggy-forest-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

header {
	background-color: black;
	width: 100%;
	padding: 1rem, 1rem;
	margin: 1rem, 1rem;
}

#header {
	padding: 1.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 600px) {
	#header {
		display: contents;
		padding-left: 10px;
		margin-left: 10px;
	}
	h2 {
		padding-left: 10px;
		padding-bottom: 2px;
		text-align: center;
		font-size: 5vw;
	}
	h4 {
		padding-left: 10px;
		padding-bottom: 4px;
		text-align: center;
	}
	#hero {
		font-size: 16px !important;
	}
}

#hero {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 15%;
	margin-right: 15%;
	padding: 5%;
	background: rgba(50, 51, 50, 0.8);
	border-radius: 30px;
	border: solid white 2px;
	text-align: center;
	font-size: 36px;
}

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

#container {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5rem;
	background: rgba(50, 51, 50, 0.8);
	border-radius: 30px;
	border: solid black 2px;
}
